[Genome_PDB_Mapper]
dbhost = gwar-dev.mc.vanderbilt.edu
dbname = pdbmap_v5
dbuser = mike
dbpass = cheezburger
pdb_dir = /scratch/sivleyrm/pdb/structures/all/pdb/pdb3rbq.ent.gz
disable_human_homologue = True
create_new_db = False
speclist = /labs/twells/sivleyrm/pdbmap/speclist.txt
transmap = /labs/twells/sivleyrm/pdbmap/transmap.dat
