[Genome_PDB_Mapper]
dbhost = gwar-dev.mc.vanderbilt.edu
dbname = pdbmap_v8
dbuser = mike
dbpass = cheezburger
pdb_dir = /scratch/sivleyrm/pdb/structures/all/pdb/
map_dir = /scratch/sivleyrm/pdbmap/maps/
disable_human_homologue = False
create_new_db = False
speclist = /labs/twells/sivleyrm/pdbmap/speclist.txt
transmap = /labs/twells/sivleyrm/pdbmap/transmap.dat
