[Genome_PDB_Mapper]
cores = 1
dbhost = HOSTNAME
dbname = DBNAME
dbuser = DBUSER
dbpass = DBPASS
pdb_dir = data/rcsb
modbase_dir = data/modbase
modbase_summary = H_sapiens_2013_GRCh37.70.pep.all.summary.txt
idmapping = data/uniprot/idmapping/HUMAN_9606_idmapping_UNP-RefSeq-PDB-Ensembl.tab
sec2prim = data/uniprot/idmapping/uniprot_sec2prim_ac.txt
sprot = data/uniprot/swissprot/uniprot_sprot_human.dat
pfam = data/pfam/pdb_pfam_mapping.txt
sifts = data/sifts/pdb_chain_uniprot.tsv
vep = variant_effect_predictor.pl
reduce = reduce
probe = probe
create_new_db = False
