[% # $Id: attributefilter_text.tt,v 1.2 2007-01-09 17:16:00 rh4 Exp $ %]

[% #--------------------------------------------------------------------
   # Macro for rendering form element(s) for a simple text filter. The
   # element(s) may be for a single filter, or a list of filters within
   # a container which share the textfilter-property.
   #--------------------------------------------------------------------
%]
[% MACRO render_textfield(filter, param_name, attrparam_name) BLOCK %]

[% dataset_name = filter.pointedFromDataset || filter.dataSetName %]
[% onblur_js = "
if(filterEltHasValue(this)) {
    checkAttributeCheckbox('${attrparam_name}');
};
" %]
[% onblur_js = onblur_js.replace("\n", "") %]

[% IF filter.multipleValues() || filter.filter.multipleValues()  %]
  [% # Render textarea and file-upload button, so user can submit a list of values %] 
<textarea name="[% param_name %]" cols="25" rows="4" onblur="[% onblur_js %]">
[* session.param("[% param_name %]") || '' *]
</textarea>
<br />
[% # Note use of onchange for files, as onblur works before filename is populated %]
<input type="file" name="[% param_name %]__file" value="" size="16" onchange="[% onblur_js %]" />
<input type="hidden" name="upload_file_params" value="[% param_name %]__file" />

[% ELSE %]
  [% # Render simple textfield for entry of a single query string %]
<input type="text" name="[% param_name %]" value="
[* IF session.param("[% param_name %]").defined() *]
  [* session.param("[% param_name %]") *]
[* ELSE *]
  [% filter.defaultValue() || ''%]
[* END *]
" 



[% autocomplete = filter.autoCompletion() %]
[% IF autocomplete %]
  [% min_wordsize    = autocomplete.split(';').0 %]
  [% max_resultcount = autocomplete.split(';').1 %]
 autocomplete="off" onkeyup="preAutocomplete(this, '[* session.param('schema') *]', '$dataset_name', '[% filter.name() %]','[% filter.attribute().name() %]', '[% min_wordsize %]','[% max_resultcount %]'); return true;" onblur="var acNode; if(acNode = document.getElementById(this.name+'__acresults')){document.body.removeChild(acNode);}; $onblur_js" />
<span id="[% param_name %]__acprogress">&nbsp;</span>
[% # NOTE TO SELF: add JS to initialize AutoSuggestControl object and attach to textfield %]
[% ELSE %]
onblur="[% onblur_js %]" />
[% END %]

[% buttonURL = filter.buttonURL %]
[% IF buttonURL %]
<input type='button'
               name="[% param_name %]__button"
	       value='<browse>' ONCLICK='javascript:
                                          var nW = window.open("[% buttonURL  %]", "[% filter.displayName %]",
                                                               "menubar=no,scrollbars=yes,width=800,height=800");
                                          if( nW.opener == null ){
                                          nW.opener = window;
                                         }' >
	
[% END %]

[% IF filter.graph %]
	
	[% # ADD CODE TO GERNERATE ONTOLOGY FILES IN htdocs/tmp/_ontology - SEE OLD generate_ontology_picker code in old martview %]

[% END %]


[% END %]




[% END # End textfield macro %]
