[% # $Id: savequery.tt,v 1.1.1.1 2006-11-22 20:30:58 arek Exp $  %]
[% #--------------------------------------------------------------------
   # Template for rendering the save-query popup window. Will show either
   # input field for query name, or confirmation that query was saved.
   #--------------------------------------------------------------------
%]
<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>MartView: web interface to BioMart: saving query</title>
  <link rel="stylesheet" type="text/css" href="/martview/martview.css" />
</head>
<body>
    

[% IF session.param("savedquery_name") %]
Query <b>[% session.param("savedquery_name") %]</b> has been saved
<br />
<a href="javascript: void(0);" onclick="window.close()">close window</a>
		
[% ELSE %]
Please enter name for this query: 
<form name="mainform" action="$form_action" method="post" enctype="multipart/form-data">
  <input type="hidden" name="savequery" value="myqueries" />
  <input type="text"   name="savedquery_name" />
<br />
  <input type="submit" name="submit.savequery" value="Save query" />
</form>

[% END %]

</body>
</html>
